<div {{action 'openShowModal' slot.show_num}} class="slot {{slot.color}} {{slot.shared_slot}} {{textSize}}" style="left: {{slot.left_pos}}%; top: {{slot.min_from_six_am}}px; height: {{slot.duration}}px;">
	<small>{{slot.show_name}}</small>
</div>
